@charset "UTF-8";
/* COMMON CSS Document */
#wrapper{width:100%;}
.content{margin:0 auto; width:960px;}

/*HEADER
====================================*/
#logo_sp{ margin:15px 0;}
/*NAVIGATION
====================================*/
#gnavi{ background: url(../images/bg_gnavi.gif) repeat-x left top;}
#gnavi li{ float:left;}
#gnavisp{ display:none}
#gnavisp li span{ color:#666}
/*MAIN CONTENT
====================================*/
.hoverImg:hover{ opacity:0.8}
h1 span{ padding-left:18px; font-size:24px; font-weight: bold;}
h1 img{ padding-bottom:8px;}
h1{ border-bottom: 1px solid #666; margin-top:2%;}
.h1{ border-bottom: 2px solid #008ed3; margin-top:2px; width:245px; margin-bottom:25px;}

.imgHover:hover{opacity:0.8;}
/*FOOTER
===================================*/
#footer{ background-color:#00b9e7; padding:30px 0 10px; }
#footer .ft_top{ margin-bottom:40px;}
#footer .ft_top .logo{ float:left; margin-right:45px;}
#footer .ft_top .link{color:#fff; float:left; padding-top:15px;}
#footer .ft_top .link li{ float:left; margin-right:20px;}
#footer .ft_top .link li a:hover, #footer .ft_top .link li.active{ text-decoration:underline}
#footer .ft_top .link li span{ color:#666}
#footer .ft_top .link li.last{ margin-right:0}
#footer .ft_bot{ text-align:right}
#footer .ft_bot ul.pc { width:515px; margin:0 auto;}
#footer .ft_bot li{ float:right; margin-left:30px;}
#footer .ft_bot li.last{ margin-left:0;}
#footer .ft_bot li.logo02{ padding-top:5px;}
#footer .ft_bot li.logo03{ padding-top:5px;}
#footer .ft_bot li.logo04{ padding-top:15px;}
.pc{}
.sp{ display:none}
.copyright{ color:#fff; text-align:center; padding-top:20px; font-size:10px}
#page-top{position: fixed; bottom:30px; right:20px;}
.f10 { font-size:10px;}

/*===============================
             MEDIA
================================*/
@media only screen and (max-width:960px){
.content{ width:98%;}
#gnavi li{ width:16.66666666666667%}

#page-top{bottom:20px; right:10px; width:30px;}
}

@media only screen and (max-width:768px){

}

@media only screen and (max-width:640px){
.content{ width:93%;}
.pc{ display:none}
.sp{ display: block}
#gnavi{ display:none}
#gnavi .no_active{ color:#666;}
#gnavisp{ display: block;}
#gnavisp ul{ display:none;}
#gnavisp ul li, #gnavisp #btn_menu{ font-size:18px; background-color:#51c5d4; border-top:1px solid #FFF; padding:20px 0; color:#FFF; text-align:center; position:relative;}
#gnavisp #btn_menu { cursor:pointer; color:#000; padding-left:4%;}
#gnavisp #btn_menu .arrow{ text-align:right; float:right; margin-right:4%; position:absolute; right:0;}
#footer{ padding-top:20px; padding-bottom:0}
#footer .ft_top{ margin-bottom:0;}
#footer .ft_top .logo { float:none}
#footer .ft_top .link{ font-size:13px; line-height:2; padding-top:25px; margin-bottom:20px;}
#footer .ft_top .link li{ margin-right:20px;}
#footer .ft_bot li { padding-bottom:15px; float:left; padding-left:20px; width:26%; margin:0;}
#footer .ft_bot #logo1{ width:9%; padding-left:0;}
#gnavisp .close{ display:none}
#footer .ft_top .logo .sp{ width:35%}
.copyright{ padding-top:0}

#footer .ft_top .logo { text-align:center; margin:0 auto}
#footer .ft_top .logo .sp{ margin:0 auto}
#footer .ft_top .link ul.sp .fl, #footer .ft_top .link ul.sp .fr{ width:50%}
#footer .ft_top .link ul.sp li{ width:100%; margin-right:0;}

#footer .ft_bot li{width:30%;}
#footer .ft_bot li#logo4{width:14%;}
#footer .ft_bot li#logo3{padding-top:5px;}
}

@media only screen and (max-width:480px){
#logo_sp img{ width:50%;}
#footer .ft_bot li{ width:40%}
#footer .ft_bot li#logo4{ float:none; text-align:center; width:20%; margin:0 auto; padding-left:0}
#footer .ft_top .logo .sp{ width:45%}
}

@media only screen and (max-width:360px){
#gnavisp ul li, #footer .ft_top .link{ font-size:14px;}
#gnavisp #btn_menu{ font-size:18px;}
#footer .ft_top .link{ font-size:12px;}

#footer .ft_bot li{ float:none; width:80%; margin:0 auto 20px; padding:0 !important;}
#footer .ft_bot li#logo4{width:40%; margin:0 auto 20px;}

}

@media only screen and (max-width:320px){
}