@charset "UTF-8";
/* CSS Document */
#event{ padding:90px 0; font-size:14px; line-height:1.7;}
#event h3{ margin-bottom:50px; text-align:center}
#event h4{ font-size:26px; font-weight:bold; color:#fff; background:#0068b7; text-align:center;}
#event h5{ font-size:20px; font-weight:bold; text-align:center; margin-bottom:20px}
#event h6{ font-size:25px; font-weight:bold; color:#ff0000}
#event .boxText{ font-size:14px; text-align:center; margin-bottom:30px;}
#event .pdf{ font-size:16px; color:#000; background:#cccccc; text-align:center; border-radius:5px}
#event .pdf:hover{ background:#dcdcdc;}
#event .last{ margin-right:0 !important}

#event #anchorLink { padding:25px 0 60px}
#event #anchorLink li a{ background:#a4efff; color:#000; width:32%; float:left; text-align:center; padding:10px 0; font-weight:bold; font-size:16px;}
#event #anchorLink li.active a,#event #anchorLink li a:hover{ background:#00a8ff; color:#fff}
#event #anchorLink li.between a{margin: 0% 2%;}
#event #anchorLink li.non a, #event #anchorLink li.non a:hover{ background:#999; color:#000}

#event .box01{ margin-bottom:50px;}
#event .box01 .fl{ width:48.4375%;}
#event .box01 .fr{ width:48%}

#event .box02{ background:#effaff; margin-bottom:30px;}
#event .box02 .inner{ padding:30px 40px 45px;}
#event .box02 .fl{ width:198px;}
#event .box02 .fr{ width:620px;}
#event .box02 .fl h5{ background:#7ecef4; color:#000;}
#event .box02 .fr h5{ background:#a9f686; color:#000;}
#event .box02 .child{ width:198px; float:left; margin-right:13px;}
#event .box02 .child .img{ margin-bottom:20px;}
/*#event .box02 .child a:hover{ opacity:0.8}*/
#event .box02 .boxText span{ display:block}

#event .box03{ }
#event .box03 .box{ margin-bottom:50px; padding-left:20px}
#event .box03 .box th{ vertical-align:top; font-weight:normal}

#event .box04{ margin-bottom:40px;}
#event .box04 .boxText{ font-size:14px; margin-bottom:40px; text-align: left}
#event .box04 .title{ text-align:center; margin-bottom:30px}
#event .box04 table{ width:100%}
#event .box04 th, #event .box04 td{ border-top:1px solid #ccc; border-bottom:1px solid #ccc; padding:15px 0 ; vertical-align:top}
#event .box04 th{ font-weight:bold; width:206px; text-align:center; border-right:1px solid #ccc;}
#event .box04 td{ padding-left:75px;}

#event .box05{ border-bottom:1px solid #a0a0a0; margin-bottom:50px; padding-bottom:50px}
#event .box05 table{ width:100%}
#event .box05 tr.first{ border:3px solid #7ecef4; }
#event .box05 tr.first th{font-size:20px; color:#fff; text-align:center; font-weight:bold; padding:0; background:#00b9e7;}
#event .box05 th, #event .box05 td{border:3px solid #7ecef4; padding:15px 0}
#event .box05 th{ text-align:center; font-weight:normal; background:#f6fdff; width:206px;}
#event .box05 td{ padding-left:75px; text-align:left}
#event .box05 td .bold{ font-weight:bold; font-size:16px;}


/*===============================
             MEDIA
================================*/
@media only screen and (max-width:960px){
#event{ padding:9% 0;}
#event h3{ margin-bottom:5%; }
#event .boxText{ margin-bottom:3%;}
#event #anchorLink { padding:2.5% 0 6%}
#event .box01{ margin-bottom:5%;}
#event .box02 .inner{ padding:3% 4% 4.5%;}
#event .box02 .fl{ width:22.5%;}
#event .box02 .fr{ width:70.45454545454545%;}
#event .box02 .child{ width:auto;  margin-right:2%;}
#event .box02 .fl .child{ width:100%;}
#event .box02 .fr .child{ width:32%;}
#event .box03{  margin-bottom:5%}
#event .box03 .box{ margin-bottom:5%; padding-left:2%}
#event .box04{ margin-bottom:4%;}
#event .box04 .boxText{  margin-bottom:4%}
#event .box04 .title{  margin-bottom:3%}

}

@media only screen and (max-width:640px){
#event .box01 .fl, #event .box01 .fr,#event .box02 .fr,#event .box02 .fl{ margin:0; padding:0; float:none; width:100%; text-align:center; margin:0 auto 20px;}
#event .boxText{ text-align:left}
#event .box02 .fl .child, #event .box02 .fr .child{ margin:0; padding:0; float:none; width:198px; text-align:center; margin:0 auto 20px !important;}
#event .box03 .box tr,#event .box03 .box th,#event .box03 .box td{ width:100%; display:block; box-sizing:border-box}
#event .box03 .box td { padding-left:20px;}
#event .box04 td,#event .box05 td { padding-left:7.5%}
#event .box02 .boxText span{ display:inline}

}

@media only screen and (max-width:600px){
#event .box04 th,#event .box04 td{width:95%;display:block; text-align:center; margin:0 3% 0 2%;  padding:10px 0;}
#event .box04 th{ border:none; border-top:1px solid #ccc;background-color: #51c5d4;}
#event .box04 td{ padding-left:0; border-bottom:none; text-align:left; padding:10px; }
#event .box04 table{border-left:1px solid #ccc;border-right:1px solid #ccc;}
#event .box04 td,#event .box04 th{ margin:0; width:auto;}
#event .box04 #last {    border-bottom: 1px solid #ccc;}
#event .box05 th,#event .box05 td{ width:100%; box-sizing:border-box; display:block; margin:0 0% 0 0%; padding:10px}
#event .box05 th,#event .box05 td { border-top:none;}
#event .box05 tr.first{ border:none; border-top:3px solid #7ecef4}

}


@media only screen and (max-width:480px){
#event #anchorLink li a { width:100%; margin:0; margin:0 auto 20px !important; padding:15px 0}
		
}

@media only screen and (max-width:360px){
	
}

