@charset "UTF-8";
/* CSS Document */
#banner{ background:url(../../images/bg_banner.jpg) no-repeat center top}
#banner { position:relative}
#banner .content1580{ width:1580px; margin: 0 auto;}
#banner .header_txt{ bottom:15px; left:25px; position:absolute; width:96%;}
#banner .header_txt_02{ top:35px; right:47px; position:absolute; width:98%; text-align:right; }
#banner .txt{ font-size:12px; text-align:right;bottom:15px; width:100%; position:absolute;  }

#container .box{padding:50px 0 25px;}
#container .box01{ border-bottom:1px solid #11617e; position:relative; border-top:1px solid #11617e;}
#container .box01 .cont{height:120px; overflow:auto; padding:30px 40px 10px; position:relative;}
#container .box01 .label{width:100%; left:0; position:absolute; top:0; left:0; z-index:10;}
#container .box01 .label2{margin-right:40px; background:#fff; height:25px;}
#container .box01 .img{ position:absolute; top:-20px; left:0; z-index:20;}
#container .box01 .btn{ float:left; margin-right:10px;}
#container .box01 .date{ float:left; margin-right:20px; padding-top:4px;}
#container .box01 .txt{ float:left; padding-top:4px;}
#container .box01 .txt a{ text-decoration:underline; color:#2372ff;}
#container .box01 .txt a:hover{text-decoration:none;}
#container .box01 .info{ margin-bottom:20px; position:relative; z-index:9;}
#container .box01 .info.empty{height:25px;}

#container .boxbnr{float:right; width:26.04%;}

#container .box02{ border:1px solid #c9c9c9; margin-bottom:90px; padding:35px 45px 20px;}
#container .box02 .tit{ margin-bottom:35px; text-align:center}
#container .box02 .tit.textAlignCenter { text-align:center; }
#container .box02 .tit { text-align:left; font-size:18px; line-height:1.7; font-weight:bold;text-indent:15px; }
#container .box02 p.tit2  { font-size:24px; color:#004993; font-weight:bold; line-height:1.4; margin-bottom:15px;}
#container .box02 .child{ font-size:14px; margin-bottom:50px; line-height:1.7;}
#container .box02 .child p { text-indent:15px}
#container .box02 .child p.tit2 { text-indent:0}
#container .box02 .child .fr{ width:323px; text-align:center}
#container .box02 .child .fl{ width:505px;}
#container .box02 .cap{ font-size:10px; color:#fff; padding-top:20px;}


#container .box03{ margin-bottom:90px;}
#container .box03 li{ margin-bottom:25px;}

#bannersp{ display:none;}

/*add 2016-05-17*/
#container .box02 { margin-bottom:0;}
#container { background:url(../../images/bg_main.jpg) no-repeat center top; background-size:100% 100%;}
#container .box02{ border:none; padding:50px 0 0px;}
#container .box02 .boxl{ float:left; width:535px; }
#container .box02 .boxr{ float:right; width:379px;}
#container .box02 .boxr li{ margin-bottom:40px;}
#container .box02 .child .topic{ position:absolute; top:-22px; left:-59px;}
#container .box02 .child .inner{ padding:0 30px 20px;}

#container .box02 .tit{ margin-bottom:85px;}
#container .box02 .child{background:#fff; position:relative; margin-bottom:40px;}
#container .box02 .child p.tit2{ color:#ff0000; font-size:26px; font-weight:bold; text-align:center; border-bottom:3px solid #ff0000; padding:15px 0 10px;}
#container .box02 .child .subject_cont{ margin-bottom:15px;}
#container .box02 .child .subject_img { text-align:center;}

/* add 2016-07-07*/
#container .box01 .txt{ width:100%; max-width:600px;}

/*add 2016-07-15*/
#container .box01a{ border:none;}
#container .box01a .cont{ height:auto}
/*===============================
             MEDIA
================================*/
@media only screen and (max-width:1580px){
#banner .content1580{ width:100%;}
#banner .header_txt img{ width:38.29113924050633%}
#banner .header_txt_02 img{ width:12.53164556962025%;}

}

@media only screen and (max-width:1024px){
/*add 2016-05-17*/
#container .box02 .boxl{ width:50.72916666666667%; padding-left:6%; }
#container .box02 .boxr{ width:39.47916666666667%;}

}

@media only screen and (max-width:960px){
#banner .header_txt_02, #banner .header_txt { width:96%}
#banner .txt { right:10px; width:50%}

#container .box01 .cont{padding:4% 4% 10px;}
#container .box01 .label2{margin-right:4%;}

#container .box03 .fl{ width:52.08333333333333%}
#container .box03 .fr{ width:43.75%}

#container .box02{ padding:3.5% 4.5% 2%;}
#container .box02 .child .fr{ width:37.64583333333333%;}
#container .box02 .child .fl{ width:59.60416666666667%;}

/*add 2016-05-17*/
#container{ background-size: cover}
#container .box02{ padding:3% 0 0;}
#container .box02 .child p.tit2{padding: 15px 30px 10px;}
#container .box02 .tit{ width:66.35416666666667%; margin:0 auto ;margin-bottom:5%;}
#container .box02 .child .topic { width:18%; top:-20px;}

}

@media only screen and (max-width:768px){
#container .box01{width:100%; float:none; margin-bottom:20px;}	
#container .boxbnr{width:100%; float:none; text-align:center;}

/*add 2016-05-17*/
#container .box02 .child .topic { left:-40px;}

}

@media only screen and (max-width:640px){
#banner{ display:none}
#bannersp{ display:block}
#bannersp { background:url(../../images/sp_bg_banner.jpg) no-repeat center top; background-size:100% auto; position:relative;}
#bannersp .header_txt{ text-align:center; margin-top:-20px; padding-bottom:33px;}
#bannersp .header_txt_02{position:absolute; top:20%; left:3.5%; width:33%;}
#bannersp .txt{padding-top:10px; text-align:left;}

#container .box01 .label2{height:40px; margin-right:20px;}
#container .box01 .cont{padding:40px 20px 10px;}
#container .box01 .img{ top:-27px;}
#container .box01 .btn{ float:none; margin:0 0 10px;}
#container .box01 .date, #container .box01 .txt{ font-size:24px; margin-bottom:5px; line-height:1.7; padding-top:0;}
#container .box02 { border:none; padding:0; margin-bottom:50px;}
/*#container .box02 p { font-size:26px;}
#container .box02 p span{ font-size:43px;}*/
#container .box03 .fl, #container .box03 .fr{ float:none; width:100%; margin:0 auto 50px}
#container .box03 { margin-bottom:50px;}
#container .box02 .cap{ text-align:left}
#container .box02 .tit3{ font-size:30px; color:#004993; font-weight:bold; line-height:1.4; margin-bottom:15px;}
#container .box02 .child .fr,#container .box02 .child .fl{ float:none; width:100%; margin:0 auto 20px; padding-top:0 !important;}

/*add 2016-05-05*/
#bannersp .header_txt_02{ display:none}

/*add 2016-05-17*/
#container .box02{ margin:0; padding-bottom:40px;}
#container .box02 .boxl, #container .box02 .boxr { float:none; width:94%; } 
#container .box02 .boxr { text-align:center; padding-top:20px; width:100%;}
#container .box02 .boxr li:nth-last-child(1){ margin-bottom:0;}
#container .box02 .tit{ width:100%; margin-bottom:10%;}
#container .box02 .tit3{ border-bottom:5px solid #004993; font-size:45px; }
}

@media only screen and (max-width:480px){
#container .box01 .label2{margin-right:10px;}
#container .box01 .cont{padding:40px 10px 10px;}

/*add 2016-05-17*/
#container .box02 .child .topic{ position:static; width:100%; text-align:center; padding-top:20px;}
#container .box02 .child p.tit2 {    padding: 15px 10px 10px;}
#container .box02 .tit3{ font-size:30px;}
#container .box02 .tit{ margin-bottom:5%;}
#container .box02 .boxl{ width:100%; padding:0}
}

@media only screen and (max-width:360px){
#container .box02 p,#container .box01 .date, #container .box01 .txt { font-size:14px}
#container .box02 p span { font-size:30px;}
#container .box03 .fl, #container .box03 .fr, #container .box03{ margin-bottom:5%;}
#container .box02{ margin-bottom:10% }
#container .box02 .tit3{ font-size:24px;}
#container .box02 p.tit, #container .box02 .child p { font-size:14px;}
#container .box02 p.tit2 { font-size:18px;}

/*add 2016-05-17*/
#container .box02{ margin-bottom:0% }
#container .box02 .tit3{ font-size:30px;}

}

