@charset "UTF-8";
/* COMMON CSS Document */
#wrapper{width:100%;}
.content{margin:0 auto; width:1300px;}
.title_all{background:url(../images/bg_yell.jpg) repeat-x bottom center;height:200px;line-height:310px}
.title_all h2{font-size:22px;color:#1173b0;font-weight:bold}
.error{font-size:10px; color:#f00; display:inline-block;}
h3{ margin-bottom:30px;}
img.imgHover:hover{opacity:0.9;}
/*HEADER
====================================*/
#header{background:url(../images/bg_head01.png) repeat-x bottom right; position:fixed; min-height:122px; font-family:"Times New Roman", Times, serif; top:0; left:0; width:100%; z-index:9999;}
h1{float:left; padding:12px 0 0 36px;}
#header #contact{position:absolute; top:0; right:0; background:url(../images/bg_head02.png) repeat-x top right; width:158px; color:#fff; text-align:center; padding-top:30px; font-size:18px; font-weight:bold; line-height:1.4; min-height:92px;}

#header_right{float:right; padding:12px 170px 0 0; position:relative;}

#gnav{position:absolute; top:12px; right:200px;}
#gnav li{float:left; margin-right:10px; width:85px; text-align:center; font-size:16px; color:#0069ab;}
#gnav li:nth-child(1){width:100px;}
#gnav li:nth-child(2){width:110px;}
#gnav .icon{background-repeat:no-repeat; background-position:top center; padding-top:50px; display:block;}
#gnav .icon01{background-image:url(../images/gnav_ic01.png);}
#gnav .icon02{background-image:url(../images/gnav_ic02.png);}
#gnav .icon03{background-image:url(../images/gnav_ic03.png);}
#gnav .icon04{background-image:url(../images/gnav_ic04.png);}
#gnav .icon05{background-image:url(../images/gnav_ic05.png);}
#gnav .icon06{background-image:url(../images/gnav_ic06.png);}
#gnav .icon07{background-image:url(../images/gnav_ic07.png);}
#gnav li.active .icon01, #gnav .icon01:hover{background-image:url(../images/gnav_ic01_over.png); color:#fdb100;}
#gnav li.active .icon02, #gnav .icon02:hover{background-image:url(../images/gnav_ic02_over.png); color:#fdb100;}
#gnav li.active .icon03, #gnav .icon03:hover{background-image:url(../images/gnav_ic03_over.png); color:#fdb100;}
#gnav li.active .icon04, #gnav .icon04:hover{background-image:url(../images/gnav_ic04_over.png); color:#fdb100;}
#gnav li.active .icon05, #gnav .icon05:hover{background-image:url(../images/gnav_ic05_over.png); color:#fdb100;}
#gnav li.active .icon06, #gnav .icon06:hover{background-image:url(../images/gnav_ic06_over.png); color:#fdb100;}
#gnav li.active .icon07, #gnav .icon07:hover{background-image:url(../images/gnav_ic07_over.png); color:#fdb100;}

#gnav .block{display:block;}
#gnav #btn_menu{display:none;}
#language{float:right; padding-top:20px;}
#language li{float:left; margin-right:15px;}

/*MAIN CONTENT
====================================*/
#container{ }

#register{background:url(../images/register_pic.png) no-repeat 80% top; padding-top:63px;}
#register_inner{background:url(../images/register_bg.png) repeat-x bottom center; position:relative; padding:59px 37px 13px;}
#register #tel{float:left;}
#register #btn{float:right; padding-top:25px;}
#register #btn li{float:right; padding-right:50px;}
#register #btn li.last{padding-right:0;}

#bnr_swimming{padding:30px 0; text-align:center;}
#sp_menu_footer{display:none;}
/*FOOTER
===================================*/
#footer{background:#fff;}
#footer #contact{padding:0 35px 35px;}
#contact_inner{background:#f1f1f1;}
#contact_left{width:36%; padding:2% 2% 0; font-size:16px; float:left;}
#contact_left .logo{margin-bottom:25px;}
#contact_left .rows{margin-bottom:20px;}
#contact_left .title{color:#d91d49; padding:0 0 0px 30px; font-size:18px; font-weight:bold; margin-bottom:5px; line-height:1.4;}
#contact_left .address{background:url(../images/icon_address.png) no-repeat center left;}
#contact_left .time{background:url(../images/icon_time.png) no-repeat top left;}
#contact_left .tel{background:url(../images/icon_tel.png) no-repeat top left;}
#contact_left .email{background:url(../images/icon_email.png) no-repeat top left;}
#contact_right{width:60%; float:right; height:462px;}

#sitemap{padding:0 35px 50px;}
#sitemap h2{text-align:left;margin-bottom: 30px;}
#sitemap .box{width:70%;}
/*#sitemap .box02{width:30%; float:right;}*/
#sitemap li{float:left; margin-right:100px;}
#sitemap li a{background:url(../images/icon_arrow.png) no-repeat left center; padding-left:25px; font-weight:bold; font-size:16px; color:#0069ab; line-height:1.7;}
#sitemap li a:hover,#sitemap li a.active{color:#f7a139; background:url(../images/icon_arrow_over.png) no-repeat left center;}
#sitemap li span{background:url(../images/icon_arrow.png) no-repeat left center;padding-left:25px; font-weight:bold; font-size:16px; color:#0069ab; line-height:1.7; opacity:0.5;}

#introduce{padding:10px 35px; font-size:14px; line-height:1.4;}
#introduce p{ font-size:14px !important; line-height:1.4;}
#copyright{background:#0069ab; padding:15px 10px; text-align:center; font-size:14px; color:#fff;}

.sp_contact{background:#FFF; bottom: 0; display: none; left: 0; position: fixed; width: 100%; z-index:1000;}
.sp_contact li{width: 50%; background:#cb2726; text-align:center; float:left}
/*.sp_contact li img {width: auto !important;}*/

#back-top{position: fixed; bottom: 0px; right:10px; z-index:9999;}

/* MAIL */
#wrapper_mail{text-align:center; font-size:18px;}
#wrapper_mail a{color:#F00;}
#wrapper_mail #logo{padding:30px 10px 50px;}
#wrapper_mail p{margin-bottom:20px; padding:0 10px;}
#wrapper_mail .close {
    background: #3cf none repeat scroll 0 0;
    font-size: 16px;
    margin: 100px auto 0;
    padding: 5px;
    text-align: center;
    width: 100px;
}
/*===============================
             MEDIA
================================*/
@media only screen and (max-width:1700px){
#register_inner{background-position:top left;}
#register #tel{width:35%;}	
#register #btn{width:60%;}
#register #btn li{width:45%; padding-right:5%;}
#register #btn li img, #register #tel img{max-width:100%;}

}

@media only screen and (max-width:1440px){
h1{padding-left:16px;}

#sitemap li{width:auto; margin-right:60px;}
}

@media only screen and (max-width:1320px){
#bnr_swimming img{width:100%;}	
}
@media only screen and (max-width:1300px){
.content{width:98%;}
h1{width:200px; padding-top:20px;}
#header #contact{width:110px; font-size:15px;}
#header_right{padding-right:115px;}
#language li{width:25px; margin-right:8px;}
#gnav{right:130px;}
#gnav li{font-size:14px; width:75px;}
#gnav li:nth-child(1){width:87px;}
#gnav .icon{background-size:50px auto; padding-top:43px;}
}

@media only screen and (max-width:1000px){
#header{background:#fff; min-height:10px;}
#header #contact{display:none;}
#header_right{padding-right:16px;}
h1{width:auto; padding:16px 0 16px 16px;}
#language{padding-top:0;}

#gnav{width:100%; z-index:9999; text-align:left; top:30px; right:0px;}
#gnav #btn_menu{cursor:pointer; position:absolute; top:5px; right:10px; width:39px; height:30px; background:url(../images/btn_open.png) no-repeat; display:block;}
#gnav #btn_menu.close{background:url(../images/btn_close.png) no-repeat;}

#gnav ul{background:#0069ab; display:none; border-top:1px solid #fff; overflow:auto; position:absolute; top:75px; left:0; width:100%;}
#gnav li{border-bottom:1px solid #fff; position:relative; z-index:9999; display:block; margin:0; width:100%; text-align:left; font-size:20px;}
#gnav li a{color:#fff; padding:10px 15px; display:block;}
#gnav li.active{color:#f6af25; border-bottom:1px solid #fff; padding:10px 15px;}
#gnav li a:hover{border:0; color:#f6af25;}
#gnav li:nth-child(1), #gnav li:nth-child(2){width:100%;}
#gnav .block{display:inline;}
#gnav .icon{background-position:left center; padding:10px 0 10px 70px;}

#gnav .icon01{background-image:url(../images/gnav_ic01sp.png);}
#gnav .icon02{background-image:url(../images/gnav_ic02sp.png);}
#gnav .icon03{background-image:url(../images/gnav_ic03sp.png);}
#gnav .icon04{background-image:url(../images/gnav_ic04sp.png);}
#gnav .icon05{background-image:url(../images/gnav_ic05sp.png);}
#gnav .icon06{background-image:url(../images/gnav_ic06sp.png);}
#gnav .icon07{background-image:url(../images/gnav_ic07sp.png);}
#gnav li.active .icon01, #gnav .icon01:hover{background-image:url(../images/gnav_ic01sp_over.png);}
#gnav li.active .icon02, #gnav .icon02:hover{background-image:url(../images/gnav_ic02sp_over.png);}
#gnav li.active .icon03, #gnav .icon03:hover{background-image:url(../images/gnav_ic03sp_over.png);}
#gnav li.active .icon04, #gnav .icon04:hover{background-image:url(../images/gnav_ic04sp_over.png);}
#gnav li.active .icon05, #gnav .icon05:hover{background-image:url(../images/gnav_ic05sp_over.png);}
#gnav li.active .icon06, #gnav .icon06:hover{background-image:url(../images/gnav_ic06sp_over.png);}
#gnav li.active .icon07, #gnav .icon07:hover{background-image:url(../images/gnav_ic07sp_over.png);}

#register_inner{padding:50px 0px 13px 20px;}

#sitemap li{margin-right:20px;}

}



@media only screen and (max-width:768px){
#register_inner{padding:50px 20px 13px 20px;}
#register #tel{width:55%; padding-top:20px;}	
#register #btn{width:35%; padding-top:45px;}	
#register #btn li{width:100%; margin-bottom:0px; padding-right:0;}

#footer #contact{padding:0 0 35px 0;}
#contact_left{width:96%; padding:2%;}
#contact_right{width:100%; height:300px;}

#sitemap{padding:0 10px 35px;}

#introduce{padding:10px;}
}

@media only screen and (max-width:736px){
#sp_menu_footer{display:block; background:#fff; padding-bottom:30px;}
#sp_menu_footer .title{background:#0069ab; color:#fff; font-weight:bold; text-align:center; font-size:16px; padding:8px 5px 5px;}
#sp_menu_footer li{float:left; width:50%; text-align:left; font-size:12px;}
#sp_menu_footer li a:nth-child(odd){border-right:1px solid #ccc;}
#sp_menu_footer li a{display:block; border-bottom:1px solid #ccc; padding:5px 7px; position:relative;}
#sp_menu_footer li i{position:absolute; top:10px; right:7px;}
#sp_menu_footer li.active{color:#0069ab;}

#sitemap .box{width:100%; float:none; margin-bottom:20px;}


}

@media only screen and (max-width:640px){
#register #tel{width:90%; padding:15px 5% 15px;}	
#register #btn{display:none;}

.sp_contact{display:block;}
#back-top{display:none !important;}

}

@media only screen and (max-width:480px){
h1{width:160px; padding:10px 0 10px 10px;}
#header_right{padding-right:10px;}
#gnav{top:16px;}
#gnav ul{top:53px;}
#gnav #btn_menu{}

.content{width:auto; padding:0 10px;}

.title_all {height: 128px; line-height: 203px;}

#register #tel{width:100%; padding:15px 0% 15px;}

#sitemap li{width:100%; float:none; margin:0;}

}